* {
    box-sizing: border-box
    };

.card {
    opacity: .5;
    font-weight: bold;
}

#random-number {
    font-size: 45px;
}
#total-score {
    font-size: 45px;
}

#rules {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#row-1 {
    margin-right: 15px;
    margin-left: none;
}

li {
    font-size: 25px;
}