* {
    box-sizing: border-box;
}

body {
    background: url(../images/pexels-photo-242236.jpeg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #crystal {
    opacity: .8;
  }

  h1, li {
      font-weight: bold;
  }

  #random-number {
      font-weight: bold;
      font-size: 35px;
  }

  #wins, #losses {
      font-weight: bold;
      font-size: 15px;
  }

  #col-1 {
      font-size: 20px;
      line-height: 30px;
  }

  .card {
      opacity: .7;
  }

  #total-score {
      font-weight: bold;
      font-size: 35px;
  }
